@using System.Collections.Generic
@using GeoMastery.CountriesAPI.Contracts.Dto.v1

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <NavLink class="nav-link" href="@($"/region/{RegionCardVM.Slug}")" Match="NavLinkMatch.All">
                @RegionCardVM.Name
            </NavLink>
        </h3>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public RegionCardViewModel RegionCardVM { get; set; } = default!;
}