@page "/capitals"

@using GeoMastery.BlazorWASM.ViewModels
@using GeoMastery.Domain.Models
@inject HttpClient Http

<PageTitle>Capitals of the World</PageTitle>

<h3>Capitals</h3>
@foreach(CapitalViewModel capital in capitals)
{
    <p>@capital.Name</p>
}

@code {
    private List<CapitalViewModel> capitals = new List<CapitalViewModel>();

    protected override async Task OnInitializedAsync()
    {
        var capitalArray = await Http.GetFromJsonAsync<CapitalViewModel[]>("sample-data/capitals.json");
        capitals = capitalArray.ToList<CapitalViewModel>();
    }
}
