@page "/continents"

@using GeoMastery.BlazorWASM.Extensions
@using GeoMastery.BlazorWASM.Shared.ContinentCard
@using GeoMastery.CountriesAPI.Contracts.Dto.v1
@using GeoMastery.CountriesAPI.Contracts.Extensions.v1
@using GeoMastery.Persistence.Services.v1
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Configuration

@inject IContinentService ContinentService

<h3>Continents</h3>

<div class="row">
@foreach(var continentDto in continents)
{
    <div class="col-md-3" style="margin-bottom: 1rem;">
        <ContinentCard ContinentCardVM="continentDto.ToViewModel()"/>
    </div>
}
</div>

@code {
    private List<ContinentDto> continents = new List<ContinentDto>();

    protected override async Task OnInitializedAsync()
    {
        var continentEntities = await ContinentService.GetAllContinentsAsync();
        continents = continentEntities.ToDto();
    }
}