@page "/continents/{Slug}"

@using GeoMastery.BlazorWASM.Extensions
@using GeoMastery.BlazorWASM.Shared.BackButton
@using GeoMastery.BlazorWASM.Shared.CountrySummaryCard
@using GeoMastery.CountriesAPI.Contracts.Dto.v1
@using GeoMastery.CountriesAPI.Contracts.Extensions.v1
@using GeoMastery.Persistence.Services.v1
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Configuration

@inject IContinentService ContinentService
@inject ICountryService CountryService

<h3>@_continentDto.Name</h3>
<BackButton/>
<div class="row">
@foreach(var country in countries)
{
    <div class="col-md-3" style="margin-bottom: 1rem;">
        <CountrySummaryCard CardViewModel="country.ToSummaryCardViewModel()"/>
    </div>
}
</div>

@code {
    [Parameter, EditorRequired]
    public string Slug { get; set; } = default!;
    private ContinentDto _continentDto = default!;
    public List<CountryDto> countries { get; set; } = new List<CountryDto>();

    protected override async Task OnInitializedAsync()
    {
        var continent = await ContinentService.GetContinentBySlugAsync(Slug);
        _continentDto = continent.ToDto();

        var countryEntities = await CountryService.GetCountriesByContinentAsync(Slug);
        countries = countryEntities.ToDto();
    }
}