@page "/regions/{slug}"

@using GeoMastery.CountriesAPI.Contracts.Dto.v1
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@inject HttpClient Http

<h3>@PageModel.Name</h3>

@code {
    [Parameter, EditorRequired]
    public RegionPageModel PageModel { get; set; } = default!;
    public List<CountryDto> countries { get; set; } = new List<CountryDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var regionSlug = PageModel.Slug;
            var baseUrl = Configuration["CountriesApi:BaseUrl"];
            var countriesUri = $"{baseUrl}Country/by-region/{regionSlug}";
            countries = await Http.GetFromJsonAsync<List<CountryDto>>(countriesUri) ?? throw new NullReferenceException();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(ex.Message);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}