@page "/regions"

@using GeoMastery.BlazorWASM.Config
@using GeoMastery.CountriesAPI.Contracts.Dto.v1
@using Microsoft.Extensions.Options

@inject HttpClient Http
@inject IOptions<ApiConfig> ApiConfigOptions

<h3>Regions</h3>

<ul>
    @foreach (var region in regions)
    {
        <li>@region.Name</li>
    }
</ul>

@code {
    private List<RegionDto> regions = new List<RegionDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var apiUrl = ApiConfigOptions.Value.CountriesApiBaseUrl;
            var requestEndpoint = $"{apiUrl}Region";
            regions = await Http.GetFromJsonAsync<List<RegionDto>>(apiUrl) ?? throw new NullReferenceException();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(ex.Message);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}