@page "/regions/{Slug}"

@using GeoMastery.BlazorWASM.Extensions
@using GeoMastery.BlazorWASM.Shared.CountrySummaryCard
@using GeoMastery.CountriesAPI.Contracts.Dto.v1
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@inject HttpClient Http

<h3>@Slug</h3>
<div class="row">
@foreach(var country in countries)
{
    <div class="col-md-4" style="margin-bottom: 1rem;">
        <CountrySummaryCard CardViewModel="country.ToSummaryCardViewModel()"/>
    </div>
}
</div>

@code {
    [Parameter, EditorRequired]
    public string Slug { get; set; } = default!;
    public RegionDto RegionDto { get; set; } = default!; // todo: must implement get region by slug method
    public List<CountryDto> countries { get; set; } = new List<CountryDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var regionSlug = Slug;
            var baseUrl = Configuration["CountriesApi:BaseUrl"];
            var countriesUri = $"{baseUrl}Country/by-region/{regionSlug}";
            countries = await Http.GetFromJsonAsync<List<CountryDto>>(countriesUri) ?? throw new NullReferenceException();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(ex.Message);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}