@page "/regions"

@using GeoMastery.BlazorWASM.Extensions
@using GeoMastery.CountriesAPI.Contracts.Dto.v1
@using GeoMastery.BlazorWASM.Shared.RegionCard
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@inject HttpClient Http

<h3>Regions</h3>

<div class="row">
@foreach(var regionDto in regions)
{
    <div class="col-md-4" style="margin-bottom: 1rem;">
        <RegionCard RegionCardVM="regionDto.ToViewModel()"/>
    </div>
}
</div>

@code {
    private List<RegionDto> regions = new List<RegionDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var baseUrl = Configuration["CountriesApi:BaseUrl"];
            var regionUri = $"{baseUrl}Region";
            regions = await Http.GetFromJsonAsync<List<RegionDto>>(regionUri) ?? throw new NullReferenceException();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(ex.Message);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}