@page "/regions/{Slug}"

@using GeoMastery.BlazorWASM.Extensions
@using GeoMastery.BlazorWASM.Services
@using GeoMastery.BlazorWASM.Shared.BackButton
@using GeoMastery.BlazorWASM.Shared.CountrySummaryCard
@using GeoMastery.CountriesAPI.Contracts.Dto.v1
@using GeoMastery.CountriesAPI.Contracts.Extensions.v1
@using GeoMastery.Persistence.Services.v1
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Configuration

@inject IRegionService RegionService
@inject ICountryService CountryService

<h3>@_regionDto.Name</h3>
<BackButton/>
<div class="row">
@foreach(var country in countries)
{
    <div class="col-md-3" style="margin-bottom: 1rem;">
        <CountrySummaryCard CardViewModel="country.ToSummaryCardViewModel()"/>
    </div>
}
</div>

@code {
    [Parameter, EditorRequired]
    public string Slug { get; set; } = default!;

    private RegionDto _regionDto = default!;
    public List<CountryDto> countries { get; set; } = new List<CountryDto>();

    protected override async Task OnInitializedAsync()
    {
        var region = await RegionService.GetRegionBySlugAsync(Slug);
        _regionDto = region.ToDto();

        var countryEntities = await CountryService.GetCountriesByRegionAsync(Slug);
        countries = countryEntities.ToDto();
    }
}