@using System.Text.RegularExpressions;

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@CardViewModel.Country</h3>
        <img class="card-img-top" src="@($"{CardViewModel.FlagBase64}")" alt="@CardViewModel.Country flag" />
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public CountryFlagCardViewModel CardViewModel { get; set; } = default!;


}